{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<h1  align="center"><u>Pass-Vault</u></h1>
<br>
<h2 align="center">Passwords</h2>
<br>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{note.id}})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control" placeholder="Website-Password"></textarea>
  <br/>
  <div align="center">
    <button type="submit" class="btn btn-primary">Save Password</button>
  </div>
</form>
{% endblock %}
